<% include header %>
    <section>
        <h1> Bem vindo <%= usuario.nome %> </h1>
        <h3> Seu email cadastrado é : <%= usuario.email %></h3>
    </section>
    <section>
        <p>
            Para fazer o logout <a href="/logout"> clique aqui </a> 
        </p>
    </section>
<% include footer %>